*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("bg.jpg");
}   

body {
    margin: 0;
    padding: 0;
    font: 1.2em Helvetica, Arial, sans-serif;
    background-color: rgba(145, 163, 243, 0.5);
    height: 100vh;
}

a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
}

.container header {
    background-color: #0953f5;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container header > div:first-child {
    margin: 0 1rem;
}

.container header > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container header > div:nth-child(2) > div {
    margin: 0 1rem;
}

.container header > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container header > div:nth-child(3) > a > div {
    margin: 0 0.5rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 5rem;
    text-align: center;
    background-color: #0953f5;
}

.container header > div:nth-child(3) > a:last-child > div {
    background-color: white;
    color: #0953f5;
}

.bold {
    font-weight: bold;
}

.dropdown, .dropdown-right {
    position: relative;
}


.dropdown > div {
    display: flex;
    flex-direction: column;
}

.dropdown-right > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown > div,
.dropdown-right > div:last-child {
    z-index: 1;
    position: absolute;
    background-color: white;
    color: rgb(9, 83, 245);
    transition: height 0.5s ease-in-out;
}

.dropdown > div > *,
.dropdown-right > div:last-child > * {
    padding: 0.5rem 1rem;
    width: 13rem;
    box-sizing: border-box;
    border: 1px solid rgba(9, 83, 245, 0.5);
    border-bottom-width: 0;
}

.dropdown > div > *:last-child,
.dropdown-right > div:last-child > *:last-child {
    border-bottom-width: 1px;
}

.dropdown > button::after {
    content: "▼";
    margin-left: 0.5rem;
}

.dropdown:hover > div {   
    display: flex;
    flex-direction: column;
}

.dropdown-right > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-right > div:first-child > button {
    padding: 0;
    margin: 0;
}

.dropdown-right:hover > div:last-child {
    left: 14rem;
    top: 0rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
}

.dropdown-right:hover > div:last-child > *:first-child::before {
    content: "";
    position: absolute;
    left: -1rem;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid white;
}


.dropdown > div,
.dropdown-right > div:last-child {
    opacity: 0;
    width: 0;
    overflow: hidden;

    transition: opacity 1s ease-in-out, width 1s ease-in-out;
    animation: delayed-overflow 1s;
}

.dropdown:hover > div,
.dropdown-right:hover > div:last-child {
    opacity: 1;
    overflow: visible;
    width: auto;
}


.dropdown > div > *,
.dropdown-right > div:last-child > * {
    animation: color-change-reverse 0.5s ease-in-out;
    background-color: white;
    color: rgb(9, 83, 245);
    overflow: visible;
}


.dropdown > div > *:hover,
.dropdown-right > div:last-child > *:hover {
    animation: color-change 0.5s ease-in-out;
    background-color: rgb(9, 83, 245);
    color: white;
}


@keyframes delayed-overflow {
    from {
        overflow: visible;
    }
    to {
        overflow: hidden;
    }
}


@keyframes color-change {
    from {
        background-color: white;
        color: rgb(9, 83, 245);
    }
    to {
        background-color: rgb(9, 83, 245);
        color: white;
    }
}

@keyframes color-change-reverse {
    from {
        background-color: rgb(9, 83, 245);
        color: white;
    }
    to {
        background-color: white;
        color: rgb(9, 83, 245);
    }
}

@media only screen and (max-width: 900px) {
    .container header > div:last-child > a {
        display: block;
        margin-top: 1rem;
    }

    .container header > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .container header > div:first-child {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .container header {
        display: flex;
        flex-direction: column;
    }

    .container header > div:last-child > a > div,
    .container header > div:last-child > a {    
        width: 100%;
        box-sizing: border-box;
    }

    .container header > div:last-child {
        width: 90%;
        box-sizing: border-box;
        margin: 0 1rem;
        padding: 0 1rem;
    }

    .container header > div:nth-child(2) > div {
        margin: 0;
    }
}