<div class="border rounded m-1" [style.background-color]="getTripStatusColor()">
  <h3>
    {{ shoppingHistoryItem.trip.name }}
  </h3>
  <div>
    Country: {{ shoppingHistoryItem.trip.country }}
  </div>
  <div>
    <div>
      Date of purchase: {{ getTripPurchaseDate() }}
    </div>
    <div>
      Trip starts: {{ getTripStartDate() }}
    </div>
    <div>
      Trip ends: {{ getTripEndDate() }}
    </div>
    <div>
      Trip status: {{ getTripStatusName() }}
    </div>
  </div>
  <div>
    <div>
      Price: {{ getTripPrice() }}
    </div>
    <div>
      Tickets bought: {{ getTripCountOfTickets() }}
    </div>
  </div>
</div>
