<div class="border p-2 rounded m-2 trip-component" [style.background-color]="getColorByLeftPlacesCount()"
     [class.border-danger]="isLowestPrice()" [class.border-success]="isHighestPrice()">
  <div class="d-flex justify-content-around container-fluid">
    <div class="col-6">
      <h3>{{ trip.name | uppercase }}</h3>
    </div>
    <div class="col-3">
      <img [src]="trip.image" [alt]="trip.name" class="w-100 trip-image rounded-circle">
    </div>
  </div>
  <div>
    <h6>Country: {{ trip.country | uppercase }}</h6>
    <div class="trip-description">{{ trip.description }}</div>
    <p>{{ trip.startDate }} - {{ trip.endDate }}</p>
    <p>Price: {{ getMoneyString() }}</p>
    <p>Max count of participants: {{ trip.maxParticipants }}</p>
    <p>Currently reserved: {{ trip.reservedPlacesCount }}</p>
    <p>Your reservations: {{ getReservedPlacesCount() }}</p>
    <div class="container-fluid">
      <h5 class="row">Buy tickets!</h5>
      <div class="row text-center">
        <div *ngIf="isFullyReserved(); then fullyReserved else notFullyReserved"></div>
        <ng-template #fullyReserved>
          <div class="col-6" role="alert">
            <div class="alert alert-danger p-2 m-0">
              Full!
            </div>
          </div>
        </ng-template>
        <ng-template #notFullyReserved>
          <div class="col-6">
            <button class="btn btn-primary col-12 p-2" (click)="reservePlace()">+</button>
          </div>
        </ng-template>

        <div *ngIf="didUserReserve(); then didReserve else didNotReserve"></div>
        <ng-template #didReserve>
          <div class="col-6">
            <button class="btn btn-primary col-12 p-2" (click)="unreservePlace()">-</button>
          </div>
        </ng-template>
        <ng-template #didNotReserve>
          <div class="col-6" role="alert">
            <div class="alert alert-primary p-2 m-0">
              Reserve trip!
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row p-2 m-1 mt-2">
    <button class="btn btn-danger w-100" (click)="deleteTrip()">Delete</button>
  </div>
</div>
