.trip-image {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.trip-description {
  height: 5rem;
  overflow: hidden;
}

.lowest-price {
  border-color: red;

}

.highest-price {
  border-color: green;
}
