div {
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
}

.box {
    display: flex;
}

.box-first {
    flex-direction: row;
}

.box-first > div:nth-child(1) {
    height: 100px;
}

.box-first > div:nth-child(3) {
    align-self: center;
}

.box-first > div {
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.box-second {
    flex-direction: column;
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-second > div:nth-child(1) {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-second > div {
    width: 30%;
}

.box-second > div:nth-child(3) {
    align-self: center;
}