*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 1.2em Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}

button {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.background > div:first-child {
    position: relative;
    clip-path: polygon(
        0 0,
        0 90%,
        10% 90%,
        100% 80%,
        100% 0
    );
    background-color: rgb(78, 157, 248);
    height: 30rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 4rem;
    position: absolute;
    top: 0;
}

.container header {
    margin-right: 2rem;
    color: rgba(255, 255, 255, 1);
    animation: animationHeader 2.0s ease-in-out;
}

.container main {
    animation: animationMain 2.0s ease-in-out;
}

.container main form {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    background-color: white;
    border-radius: 0.3rem;
    position: relative;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.container form > input {
    margin: 1rem 0 1rem 0;
    border: none;
    border-radius: 0.2rem;
    font-size: inherit;
    border-bottom: 1px solid gray;
}

.container form > input:last-child {
    width: 10rem;
    background-color: rgb(26, 180, 231);
    padding: 0.3rem;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(78, 157, 248);
    }

    .background > div:first-child {
        display: none;
    }
    
    .container {
        flex-direction: column;
        padding: 2rem;
    }

    .container header {
        margin-bottom: 2rem;
        animation: animationHeaderVertical 2.0s ease-in-out;
    }

    .container main {
        margin-top: 2rem;
        animation: animationMainVertical 2.0s ease-in-out;
    }
    
    .container main form {
        width: auto;
    }

    
    @keyframes animationHeaderVertical {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes animationMainVertical {
        from {
            transform: translateY(200%);
        }
        to {
            transform: translateY(0);
        }
    }
}

@keyframes animationHeader {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animationMain {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateY(0);
    }
}
