<div>
  <h4>Filter</h4>
  <div class="form-group">
    <div>
      Destination:
      <div *ngFor="let country of possibleCountries">
        <label [for]="country" class="checkbox-inline">
          <input type="checkbox" [id]="country" name="countries"
                 (change)="toggleCountry(country)" [checked]="isCountrySelected(country)">
          {{country}}
        </label>
      </div>
    </div>
    <div>
      <div>
        Minimum price:
        <input type="number" [(ngModel)]="minPrice" [min]="possibleMinPrice" [max]="maxPrice" step="0.01">
      </div>
      <div>
        Maximum price:
        <input type="number" [(ngModel)]="maxPrice" [min]="minPrice" [max]="possibleMaxPrice" step="0.01">
      </div>
    </div>
    <div>
      <div>
        Minimum start date:
        <input type="date" [(ngModel)]="minStartDate" [min]="earliestDate" [max]="maxStartDate">
      </div>
      <div>
        Maximum start date:
        <input type="date" [(ngModel)]="maxStartDate" [min]="minStartDate" [max]="latestDate">
      </div>
    </div>
    <div>
      Ratings:
      <div class="d-flex flex-wrap">
        <div *ngFor="let rating of possibleRatings" class="border rounded m-1 p-1">
          <label [for]="rating" class="checkbox-inline">
            <input type="checkbox" [id]="rating" name="ratings"
                   (change)="toggleRating(rating)" [checked]="isRatingSelected(rating)">
            {{rating}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
