a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav {
    min-height: 6rem;
}

.pagination-element {
    background-color: lightblue;
}

.pagination-active {
    background-color: blue;
}