<div class="text-center">
  <div class="home-page">
    <h1>Never travel in your imagination again!</h1>
    <div class="position-relative text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Mont_Blanc_from_Les_Arcs_1950.jpg"
           alt="Mont Blanc" class="img-fluid rounded mb-2">
      <div class="position-absolute could-be-you-text">
        It could be you!
      </div>
    </div>
    <a routerLink="/trip-board" routerLinkActive="true" class="btn-info btn">Reserve Now!</a>
  </div>
  <div class="p-4">
    <h4>Extras</h4>
    <small>
      <a href="https://www.exchangerate-api.com">Rates By Exchange Rate API</a>
    </small>
  </div>
</div>
